@model List<Someren.Models.Room>

@{
    ViewData["Title"] = "Rooms";
}


<div class="text-center">
    <h1 class="display-4">Rooms</h1>
    <button class="custom-btn">
        <a href="/Rooms/Create">Create new</a>
    </button>
</div>
<table class="table mt-4">
    <thead>
        <tr>
            <th>Room Number</th>
            <th>Type</th>
            <th>Size</th>
            <th></th>
            
        </tr>
    </thead>

    <tbody>
        @{
            foreach (var Room in Model)
            {
                <tr>
                    <td>@Room.RoomNumber</td>
                    <td>@Room.Type</td>
                    <td>@Room.Size</td>
                    
                    <td>
                        <a href="@Url.Action("Edit","Rooms", new {roomNumber = Room.RoomNumber})">Edit</a>
                        <a href="@Url.Action("Delete", "Rooms", new { roomNumber = Room.RoomNumber})">Delete</a>
                        @if(Room.Type == "Student" || Room.Type == "student"){
                            <a href="@Url.Action("Details", "StudentDormitories", new { roomNumber = Room.RoomNumber})">Dormitory Details</a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

